.game-component {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.game-component .stack-select {
  display: flex;
  flex-direction: column;
}
.game-component .deck-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 75px;
}
.game-component .deck-display .card-component {
  margin-left: -65px;
}

/*
.deck-display .card-component:first-child {
  margin-left: 0;
}*/

.game-component .selected-stack {
  position: absolute;
}