.board-component {
  display: flex;
  flex-direction: row;
}

.board-component .next-slots {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.board-component .buttons {
  display: flex;
  flex-direction: column;
}