.game-container {
  margin: 50px;
}
.game-container button {
  padding: 20px;
  margin-right: 10px;
}
.display-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.hand-container {
  position: absolute;
  bottom: 0;
  left: 50px;
  display: flex;
  flex-direction: row;
  background: white;
}
.game-container .selected {
  border: 1px solid red;
  position: relative;
  top: -20px;
}
.p1-hand, .p2-hand, .p1-bets, .p2-bets {
  display: flex;
  flex-direction: row;
}
.card {
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 90px;
  height: 140px;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  font-size: 2rem;
}
.align {
  display: flex;
  text-align: left;
}
.upper-row {
  display: flex;
  flex-direction: row;
}
.played-container {
  display: flex;
  flex-direction: column;
}
.suit-S {
  background-color: lightgray;
}
.suit-H {
  background-color: lightpink;
}
.suit-C {
  background-color: lightblue;
}
.suit-D {
  background-color: lightyellow;
}
.previous-action {
  max-height: 50px;
  overflow-y: scroll;
}